.InputElement {
    position: fixed; left: 5px; bottom: 5px;
    width: 100%;
    
}  

.InputElement label {
    display:flex;
    width: 100%;
    
}

.InputElement input {
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    width: calc(100% - 40px - 120px);
    margin: 10px ;
    height: 30px;
    font-size: 18px;
    font-family: Trebuchet MS;
}
