.login-style {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.login-style-logo {
  background-image: url(../../images/group-chat.png);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  height: 320px;
  width: 400px;
}

.login-style-heading {
  font-size: 28px;
  padding: 20px 30px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', sans-serif;
}

.card {
  color: black;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
}

.label--name {
  display: block;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.login-input {
  padding: 5px;
  border: 3px solid white;
  width: 70%;
  margin-top: 20px;
  font-size: 16px;
}

.login-button {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 3px solid #f18c63;
  cursor: pointer;
  width: 180px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

.login-button:hover {
  background-color: transparent;
  color: #f18c63;
  border: 3px solid white;
}