.App-chat-page--messages-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: auto;
  height: 88vh;
  background-image: url(../../images/chat_background.jpg);
  background-repeat: inherit;
}

.messages--list {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.username {
  font-style: italic;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: white;
  border: 3px double grey;
  border-radius: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.message--content {
  display: inline-block;
  padding: 0px 0px;
}

.messages--message.currentMember {
  text-align: end;
  align-items: flex-end;
  font-style: italic;
  margin-right: 30px;
}

.messages--message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: italic;
  margin-left: 10px;
}

.messages--message.currentMember .info--content {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.messages--message .info--content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.messages--message.currentMember .message--content {
  background-color: rgb(153, 88, 153);
  border: 4px solid white;
  border-radius: 10px;
}

.messages--message .message--content {
  background-color: rgba(203, 138, 73, 0.977);
  border: 4px solid white;
  border-radius: 10px;
}


.messages--message.currentMember .username {
  color: rgb(83, 32, 131);
}

.messages--message .username {
  color: rgb(127, 73, 22);
}

.messages--message.currentMember .avatar {
  background-color: rgb(83, 32, 131);
}

.messages--message .avatar {
  background-color: rgb(127, 73, 22);
}

.text {
  margin: 0;
  padding: 10px 20px 5px 20px;
  color: white;
  font-size: 18px;
}

.timestamp {
  display: inline-block;
  color: black;
  font-size: 12px;
  padding: 3px;
}

/*------- tablet -------*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .username {
    font-size: 16px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .text {
    font-size: 16px;
  }
}

/* -------------- phone ---------------- */
@media screen and (max-width: 599px) {
  .username {
    font-size: 14px;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  .text {
    font-size: 14px;
  }
}