.Message {
    box-sizing: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    height: 100%;
    overflow-y: scroll;
    padding-left: 15px;
    ;
}

.MessageUser {
    color: black;
    font-style: italic;
    font-size: 24px;
}

.MessageText {
    border-radius: 15px;
    font-size: 20px;
    background-color: burlywood;
    color: black;
    border: 2px double yellow;
    padding: 10px;
    max-width: 400px;
}

.Message.my {
    align-items: flex-end;
    padding-right: 15px;
}

.Message.my .MessageText {
    background-color: blue;
    color: white;
}